<div class="col-md-12">

    <div class="col-md-12 text-right">
        <div class="btn-group btn-group-sm">
            <a ng-href="#users/accesscard/import" class="btn btn-primary">Import</a>
         <!--   <a ng-href="#users/accesscard/register" class="btn btn-primary">Register Cards</a> -->
            <a ng-href="#" class="btn btn-primary">Back</a>
        </div>
    </div>

    <div class="col-md-12 text-left">
        <h4 class="text-primary"><b>Guest Card List</b></h4>
    </div>

    <div class="col-md-12 text-right">
        <h5>
        <select ng-model="cardAssociationType" ng-change="filterCardList()" ng-options="obj.id as obj.status for obj in cardAssociationTypes" style="margin-right: 2%">
            <option value="">select</option>
        </select>
          <input type="text" ng-model="search" placeholder="Search" size="40"/>
        </h5>
    </div>

    <div class="col-md-12">
        <table class="table table-hover table-condensed table-striped table-responsive">
            <tr>
                <th>Guest Card Number</th>
                <th>RFID Tag Number</th>

                <th></th>
            </tr>

            <tr ng-repeat="guestcard in guest_card_list1=( guest_cards | filter:search)">
                <td> {{guestcard.magStripeNo}}</td>
                <td ng-click="editable=false"><input type="text" value="{{guestcard.rfidTagNo}}" ng-model="guestcard.rfidTagNo" ng-blur="editable=true" ng-disabled="editable" size="50"></td>
                <td><input type="button" class="btn btn-primary" value="save" ng-click="save(guestcard.magStripeNo,guestcard.rfidTagNo)"></td>
            </tr>
        </table>

        <div class="col-md-12 text-center" ng-show="!guest_card_list1.length">
            <h4 class="text-primary"><b>No Cards Found </b></h4>
        </div>
    </div>

</div>
