<form>

    <div class="col-md-12">

        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <a ng-href="#manager/guest/contacts" class="btn btn-primary">Back</a>
            </div>
        </div>

        <div class="col-md-12 text-left">
            <h4 class="text-primary"><b>Create Contact</b></h4>
        </div>


        <div style="width: 50%; margin-left: auto;margin-right: auto;">


            <table class=" table table-responsive table-bordered">

                <tr>
                    <td>Guest Contact List Name</td>
                    <td colspan="5"><input type="text" name="contactlistname" ng-model="guest_contact.name"
                                           placeholder="Contactlist Name" style="width: 100%" ng-blur="OnContactListNameBlur()"></td>

                </tr>

                <tr>
                    <td>TouchPoints</td>
                    <td colspan="5">
                        <ul>
                            <li ng-repeat="touchpoint in assigned_touch_point_list">
                                <input type="checkbox" ng-click="onSelectTouchPoint(touchpoint.id)"/>
                                {{touchpoint.name}}
                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td></td>
                    <td><b>Title</b></td>
                    <td><b>First Name</b></td>
                    <td><b>Surname</b></td>
                    <td><b>Id Number</b></td>
                    <td><b>Passport Number</b></td>
                </tr>


                <tr ng-repeat="guest in guest_list">
                    <td><input type="checkbox" ng-click="onSelectGuest(guest.id)"/></td>
                    <td>{{guest.title}}</td>
                    <td>{{guest.firstName}}</td>
                    <td>{{guest.surname}}</td>
                    <td>{{guest.idNumber}}</td>
                    <td>{{guest.passportNumber}}</td>
                </tr>
            </table>
        </div>


        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <input type="submit" value="Create" ng-click="create()" class="btn btn-primary"/>
            </div>
        </div>


    </div>

</form>

