<form name="create_contact_list_form">

    <div class="col-md-12">

        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <a ng-href="#manager/guest/contacts" class="btn btn-primary">Back</a>
            </div>
        </div>

        <div class="col-md-12 text-left">
            <h4 class="text-primary"><b>Create Contact</b></h4>
        </div>

        <div style="width: 50%; margin-left: auto;margin-right: auto;">
            <table class=" table table-responsive table-bordered">
                <tr>
                    <td>Guest Contact List Name</td>
                    <td colspan="5"><input type="text" name="contactlistname" ng-model="guest_contact.name" ng-trim='false'
                                           placeholder="Contactlist Name" style="width: 100%"
                                           ng-change="OnContactListNameChange()"
                                           required></td>

                </tr>

                <tr>
                    <td>TouchPoints</td>
                    <td colspan="5">
                        <ul>
                            <li ng-repeat="touchpoint in assigned_touch_point_list">
                                <input type="checkbox" ng-click="onSelectTouchPoint(touchpoint.id)"/>
                                {{touchpoint.name}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div style="width: 50%; margin-left: auto;margin-right: auto;">

            <table ng-table="tableParams" show-filter="true" class="table  table-bordered ng-table-rowselected" style="width:100%;">

                <tr ng-repeat="user in $data" style="text-align:center;"
                    ng-click="user.$selected = !user.$selected; onSelectGuest(user.id)"
                    ng-class="{'active': user.$selected}">
                    <td data-title="'title'" sortable="'title'" filter="{'title':'text'}">
                        {{user.title}}
                    </td>
                    <td data-title="'firstName'" sortable="'firstName'"  filter="{'firstName':'text'}">
                        {{user.firstName}}
                    </td>

                    <td data-title="'surname'" sortable="'surname'" filter="{'surname':'text'}">
                        {{user.surname}}
                    </td>

                    <td data-title="'idNumber'" sortable="'idNumber'" filter="{'idNumber':'text'}">
                        {{user.idNumber}}
                    </td>

                    <td data-title="'passportNumber'" sortable="'passportNumber'" filter="{'passportNumber':'text'}">
                        {{user.passportNumber}}
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <input type="submit" value="Create" ng-click="create(create_contact_list_form)" class="btn btn-primary"/>
            </div>
        </div>
    </div>

</form>

