<form name="update_contact_list_app_form">

    <div class="col-md-12">

        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <a ng-href="#manager/guest/contact/view/{{contactlist.id}}" class="btn btn-primary">Back</a>
            </div>
        </div>

        <div class="col-md-12 text-left">
            <h4 class="text-primary"><b>Update Contact List</b></h4>
        </div>


        <div style="width: 50%; margin-left: auto;margin-right: auto;">

            <table class=" table table-responsive">

                <tr>
                    <td>Guest Contact List Name</td>
                    <td><input type="text" ng-model="name" ng-trim='false'
                               style="width: 100%"
                               ng-change="OnContactListNameChange()"
                               required></td>
                </tr>

            </table>
        </div>


        <!--Touch Point push and pop-->

        <div class="panel-body" style="margin-left: 20%">
            <div style="float: left;margin-left: 30px;">
                <select size="8" style="width: 200px; "
                        ng-model="selected_TouchPoints"
                        ng-options="obj as obj.name for obj  in touchPointsNotInContact">
                    <option value=""><b>Not Selected Touch Points</b></option>
                </select>
            </div>


            <div style="float: left;margin-left: 30px;margin-top: 5%">
                <input type="button" class="btn btn-primary" value="Add >>" ng-click="pushTouchPointToLeft()"/>
                <br/>
                <input type="button" class="btn btn-primary" value="<< Remove" ng-click="pushTouchPointToRight()"
                       style="margin-top: 10px;"/>
            </div>

            <div class="panel-body" style="margin-left: 30%">
                <div style="float: left;margin-left: 30px;">
                    <select size="8" style="width: 200px; "
                            ng-model="selected_TouchPoints"
                            ng-options="obj as obj.name for obj  in touchPointsInContacts">
                        <option value=""><b>Selected Touch Points</b></option>

                    </select>
                </div>
            </div>
        </div>
        <!-- -->


        <!--Guest push and pop-->
        <div class="panel-body" onclick="" style="margin-left: 25%">
            <div style="margin-left: 30px;" ng-focus="addToContact()">
                <li><input type="text" ng-model="search" placeholder="Search"/></li>
                <select ng-select size="6" style="width: 500px;" ng-focus="addToContact()"
                        ng-model="selected_Guest"
                        ng-options="obj as obj.title+' '+obj.preferredName+' '+obj.surname+'    PASSPORT: '+obj.passportNumber+'      IDNO: '+obj.idNumber for obj in guestNotInContact | filter:search"
                       >
                    <option value=""><b>Not Selected Guest List</b></option>

                </select>
            </div>


            <div style="margin-top: 2%;margin-left: 15%;">
                <input type="button" class="btn btn-primary" value="Add To Contact" ng-disabled="remove_from_contact_flag" ng-click="pushGuestToLeft()"/>

                <input type="button" class="btn btn-primary" value="Remove From Contact"  ng-disabled="add_to_contact_flag" ng-click="pushGuestToRight()"/>
            </div>




            <div class="panel-body">
                <div style="margin-left: 30px;" ng-focus="removeFromContact()">
                    <li><input type="text" ng-model="search2" placeholder="Search"/></li>
                    <select size="6" style="width: 500px;" ng-focus="removeFromContact()"
                            ng-model="selected_Guest"
                            ng-options="obj as obj.title+' '+obj.preferredName+' '+obj.surname+'    PASSPORT: '+obj.passportNumber+'      IDNO: '+obj.idNumber for obj in  guestsInContact | filter:search2">
                        <option value=""><b>Selected Guest List</b></option>
                    </select>
                </div>
            </div>
        </div>
        <!-- -->

        <div class="col-md-12 text-right">
            <div class="btn-group btn-group-sm">
                <input type="submit" value="update" ng-click="update(update_contact_list_app_form)" class="btn btn-primary"/>
            </div>
        </div>


    </div>

</form>
