<div class="col-md-12">


    <div class="col-md-12 text-right">
        <div class="btn-group btn-group-sm">
            <a ng-href="#maintain/guest/{{guest_profile_detail.id}}/addstaydetails" class="btn btn-primary">GuestHotelStayDetails</a>
            <a ng-href="#maintain/guest/{{guest_profile_detail.id}}/details" class="btn btn-primary">Back</a>
        </div>
    </div>

    <div class="col-md-12 text-left">
        <h4 class="text-primary"><b>Hotel Stay Details</b></h4>
    </div>


    <div style="width: 50%; margin-left: auto;margin-right: auto;">
        <table class="table table-hover table-condensed table-bordered  table-responsive">
            <tr>
                <td style="text-align: right"><b>Title</b></td>
                <td style="width: 50%">{{guest_profile_detail.title}}</td>
            </tr>
            <tr>
                <td style="text-align: right"><b>First Name</b></td>
                <td>{{guest_profile_detail.firstName}}</td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Surname</b></td>
                <td>{{guest_profile_detail.surname}}</td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Preferred Name</b></td>
                <td>{{guest_profile_detail.preferredName}}</td>
            </tr>

            <tr>
                <td style="text-align: right"><b>Passport No</b></td>
                <td>{{guest_profile_detail.passportNumber}}</td>
            </tr>

            <tr>
                <td style="text-align: right"><b>Identity No</b></td>
                <td>{{guest_profile_detail.idNumber}}</td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Gender</b></td>
                <td>{{guest_profile_detail.gender}}</td>
            </tr>

            <tr>
                <td style="text-align: right"><b>DOB</b></td>
                <td>{{guest_profile_detail.dob | date:' MMMM-dd'}}</td>
            </tr>


            <tr>
                <td style="text-align: right"><b>Nationality</b></td>
                <td>{{guest_profile_detail.nationalityId}}</td>
            </tr>

        </table>

        <!--
                <div style="width: 100%; margin-left: auto;margin-right: auto;">
                    <table class="table table-hover table-condensed  table-bordered table-responsive">
                        <tr>
                            <th>Arrival Date Time</th>
                            <th>Departure Date Time</th>
                            <th>Room Numbers</th>
                            <th>Current Stay Indicator</th>
                        </tr>

                        <tr ng-repeat="stay_detail in guest_stay_detail">
                            <td>{{stay_detail.arrivalTime | date:'medium'}}</td>
                            <td>{{stay_detail.departureTime| date:'medium'}}</td>
                            <td>{{stay_detail.rooms}}</td>
                            <td>{{stay_detail.currentStayIndicator}}</td>
                        </tr>
                    </table>
                </div>
                -->

        <!--test  -->
        <div style="width: 100%; margin-left: auto;margin-right: auto;">
            <table class="table table-hover table-condensed  table-bordered table-responsive">
                <tr>
                    <th>Arrival Date Time</th>
                    <th>Departure Date Time</th>
                    <th>Room Numbers</th>
                    <th>Current Stay Indicator</th>
                </tr>

                <tr ng-repeat="(key,value) in guest_stay_detail">
                    <td>{{value.arrivalTime | date:'medium'}}</td>
                    <td>{{value.departureTime| date:'medium'}}</td>
                    <td>
                        <select ng-model="pp" ng-options="room.roomNumber as room.roomNumber for room in value.rooms">
                            <option value="">ROOMS</option>
                        </select>
                    </td>
                    <td>{{value.currentStayIndicator}}</td>
                </tr>
            </table>
        </div>







    </div>

</div>
